footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    text-align: center;
    background-color: rgb(103, 103, 103);
    height: 4rem;
    margin-top: 80vh;

    ul {
        li {
            list-style: none;
        }
    }
}